

<div class = "masthead">
  <nav class='language-nav'>
    <ul>
      <li><a href="#">CSS</a></li>
      <li><a href="#">HTML</a></li> 
      <li><a href="#">Javascript</a></li> 
      <li><a href="#">Ruby</a></li>
    </ul>
  </nav>
  <img class=logo src= "assets/AA_Times_Logo.png">
  <ul class = "small-text"> 
    <li>Tuesday, Octorber 18, 2016</li>
   
    <li><i class="far fa-newspaper"></i>  Today's Paper</li>
    
    <li><i class="fas fa-video"></i>

  Video</li>
    <li>77°F</li>
    <li>AA0</li><li class = percentage> +100%</li>
  </ul>


