.main-nav {
  display: block;
  background: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

.left-nav > ul,
.right-nav > ul {

}

.left-nav {
  display: block;
  float: left;
  font-size: 14px; 
  > ul {
    > li {
      float: left;
      padding-left: 5px;
      font-family: $sans-serif;
    }
  }

  span {

  }
}



.right-nav  {
  display: block;
  float: right;
  font-family: $sans-serif;
  font-size: 14px; 
  > ul {

    > li {
      font-family: $sans-serif;
  
    }

    > li:last-of-type {
  
    }
  }
  
  i {

  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {

}
